nav ul a,
nav .brand-logo {
  color: #444;
}

html {
	font-family: Roboto;
}



.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.three-buttons {
	display: flex;
	justify-content: center;
	padding-top: 10%;
}

#h6-answer {
	margin-bottom: 4rem;
	margin-top: 1rem;
}
body .nav-wrapper #logo {
	background-image: url("../img/logo2.svg");
	background-size: contain;
	background-repeat: no-repeat;
	width: 259px;
	height: 56px;
	position: relative;
	float: left;
	margin-top: 4px;
	margin-right: 4px;
}
footer.page-footer .row {
	margin-bottom: 0;
}
@media (max-width: 700px) {
	body .nav-wrapper #logo {
		position: absolute;
		left: -64px;
		width: 222px;
		height: 48px;
		margin-top: 4px;
	}
}
.icon-block {
	background-color: white;
}
@media (max-width: 350px){
	nav .sidenav-trigger {
		margin: 0;
	}
}
body#index #index-banner{
	min-height: 100px;
}
body#index .parallax-container{
	min-height: 150px;
}
body#index {
		background-image:url("../img/background2.svg");
		background-size: 48px;
		background-color: #009688;
}
.people-block {
	min-height: 500px;
	padding-top: 2rem;	
}
.step-block {
	min-height: 350px;
	padding-top: 2rem;
}
.main-block {
	padding: 1rem 1rem 1rem 2rem;
}
.main-block h3 {
	margin-top: 0.50rem;
}
@media only screen and (min-width: 1500px){
	.container {
    width: 50%;
	}	
	p {
		font-size: 20px;
	}
}
@media only screen and (min-width: 1050px) and (max-width:1500px){
	.container {
    width: 70%;
	
	}
	p {
		font-size: 18px;
	}	
	.people-block {
		min-height: 500px;	
	}
}
@media only screen and (min-width: 993px) and (max-width:1050px){
	.container {
    width: 80%;
	}	
	p {
		font-size: 16px;
	}
	.people-block {
		min-height: 430px;	
	}
}
.color-yellow {
	color: #FFD400;
}
nav .btn-nav {
	background-color: #FFD400;
	background-image: url("../img/btn1.svg");
	background-size: 40px;
	background-repeat: no-repeat;
	padding-left: 56px;
	background-position: 8px 8px;
	color: black;
	height: 56px;
    line-height: 56px;
	font-weight:bold;
}
nav .btn-nav2 {
	background-color: #FFD400;
	background-image: url("../img/btn2.svg");
	background-size: 40px;
	background-repeat: no-repeat;
	padding-left: 56px;
	background-position: 8px 8px;
	color: black;
	height: 56px;
    line-height: 56px;
	font-weight:bold;
}
nav .btn-nav:hover, nav .btn-nav2:hover {
	background-color: ;
}
.search-deposite-div {
	width: 100%;
	height: 6rem;
	background-color: #009688;
	background-image:url("../img/background2.svg");
		background-size: 48px;
		background-color: #009688;
		bottom: 0;
		position: absolute;
}
.search-deposite {
	padding-top: 0rem;
}
.no-margin-bottom {
	margin-bottom: 0;
}